@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

.link, a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Mono', monospace;
  text-align: center;
  color: #EFEDEE;
}


footer {
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  transition-duration: 300ms;
}

footer .link {
  color: rgb(241, 240, 234, 0.4);
}

footer:hover {
  transform: scale(1.1,1.1);
}
