body {
    background-color: #121417;
    background-image: url("../assets/bg2.png");
    text-align: center;
    color: #EFEDEE;
}

.who,
.project {
    padding: 20px 10%;
}

.project {
    padding-top: 0;
}

.links_git {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}

.links_tech {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gits {
    margin: 20px;
}

.techs {
    margin-bottom: 10px;
}

.gits a,
.techs a {
    color: #EFEDEE;
    transition-duration: 350ms;
}

.gits:hover,
.techs:hover {
    transform: scale(1.1,1.1);
}

.gits a:hover,
.techs a:hover {
    color: #C39B6B;
}

.project p {
    padding: 30px 0;
}

.project h2,
.who h2 {
    border-top: 1px solid rgba(128, 128, 128, 0.3);
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    padding: 5px 0;
}

