.big-img {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../assets/big-img.jpg");
}
  
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
}

.overlay h1 {
    font-size: 55px;
    margin-top: 9%;
    margin-bottom: 0;
}

.fadeIn {
    opacity: 0;
    animation: fade-in 850ms linear forwards;
}

.watch {
    font-size: 32px;
    width: 292px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    opacity: 0;
    animation:
        typing 2.5s 400ms steps(15, end) forwards,
        blink-caret 0.5s 400ms step-end 7 forwards;
}

@keyframes typing {
    from {
        width: 0;
        opacity: 1;}
    
    to {
        width: 292px;
        opacity: 1;
    }
}

@keyframes blink-caret {
    from, to {border-color: transparent;}
    50% {border-color: #EFEDEE;}
}

.enter {
    margin-top: 3%;
    padding: 12px 48px;
    background: linear-gradient(to right, #858484 0, rgba(255, 255, 255, 0.9) 10%, #858484 20%);
    background-position: 0px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-size-adjust: none;
    font-weight: bold;
    font-size: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition-duration: 300ms;
    opacity: 0;
    animation:
        shine 4s 2s infinite linear forwards,
        fade-in 850ms 2s linear forwards;
}

@keyframes shine {
    0% {background-position: 0px;}
    100% {background-position: 201px;}
}

.enter:hover {
    transform: scale(1.1,1.1);
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}