.navbar {
    height: 90px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 1px 1px 4px rgb(71, 71, 71);
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 3px;
    font-size: 13px;
}

.nav_item  {
    color: #EFEDEE;
    display: inline-block;
    transition-duration: 300ms;
    text-transform: uppercase;
}

.nav_item:hover {
    color: #ffd097;
    transform: translate3d(0, -2px, 0);
} 
